# Data files (Too large for GitHub)
api_data_aadhar_biometric/
api_data_aadhar_demographic/
api_data_aadhar_enrolment/
merged_settlement_data.csv
pincode_settlement_predictions.csv

# Keep lookup and model files for hosting
!pincode_lookup.csv
!*.joblib

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Diagrams (keep images, but maybe ignore large interactive html if needed)
# diagrams/*.html
